.MyProfile{
    margin: 60px;
}

button{
    border: ;
    border-radius: 1000px;
    height: 150px;
    width: 150px;
}

.change{
    padding: 0px;
    height: 100%px;
    width: 100%px;

    position: absolute;
    right: ;
}